@{

}
<section class="vh-100 gradient-custom-2">
    <div class="container  ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-12">

                <div class="card mask-custom">
                    <div class="card-body p-4">

                        <div class="text-center">

                            <h4 class="my-4">Todo List</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 form-group">
                                <a asp-area="Todo" asp-controller="Todo" asp-action="Create" data-mdb-toggle="tooltip" title="Add new">
                                    <i class="fas fa-plus fa-lg text-info"></i> Add
                                </a>
                            </div>
                           

                        </div>
                        <table class="table  mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Team Member</th>
                                    <th scope="col">Task</th>
                                    <th scope="col">Priority</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="fw-normal">
                                    <th>
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                             alt="avatar 1" style="width: 45px; height: auto;">
                                        <span class="ms-2">Alice Mayer</span>
                                    </th>
                                    <td class="align-middle">
                                        <span>Call Sam For payments</span>
                                    </td>
                                    <td class="align-middle">
                                        <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                                    </td>
                                    <td class="align-middle">
                                        <a href="#!" data-mdb-toggle="tooltip" title="Done">
                                            <i class="fas fa-check fa-lg text-success me-3"></i>
                                        </a>
                                        <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                                            <i class="fas fa-trash-alt fa-lg text-warning"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="fw-normal">
                                    <th>
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                             alt="avatar 1" style="width: 45px; height: auto;">
                                        <span class="ms-2">Kate Moss</span>
                                    </th>
                                    <td class="align-middle">Make payment to Bluedart</td>
                                    <td class="align-middle">
                                        <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                                    </td>
                                    <td class="align-middle">
                                        <a href="#!" data-mdb-toggle="tooltip" title="Done">
                                            <i class="fas fa-check fa-lg text-success me-3"></i>
                                        </a>
                                        <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                                            <i class="fas fa-trash-alt fa-lg text-warning"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="fw-normal">
                                    <th>
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                             alt="avatar 1" style="width: 45px; height: auto;">
                                        <span class="ms-2">Danny McChain</span>
                                    </th>
                                    <td class="align-middle">Office rent</td>
                                    <td class="align-middle">
                                        <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                                    </td>
                                    <td class="align-middle">
                                        <a href="#!" data-mdb-toggle="tooltip" title="Done">
                                            <i class="fas fa-check fa-lg text-success me-3"></i>
                                        </a>
                                        <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                                            <i class="fas fa-trash-alt fa-lg text-warning"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="fw-normal">
                                    <th>
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                                             alt="avatar 1" style="width: 45px; height: auto;">
                                        <span class="ms-2">Alexa Chung</span>
                                    </th>
                                    <td class="align-middle">Office grocery shopping</td>
                                    <td class="align-middle">
                                        <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                                    </td>
                                    <td class="align-middle">
                                        <a href="#!" data-mdb-toggle="tooltip" title="Done">
                                            <i class="fas fa-check fa-lg text-success me-3"></i>
                                        </a>
                                        <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                                            <i class="fas fa-trash-alt fa-lg text-warning"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="fw-normal">
                                    <th class="border-0">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                             alt="avatar 1" style="width: 45px; height: auto;">
                                        <span class="ms-2">Ben Smith</span>
                                    </th>
                                    <td class="border-0 align-middle">Ask for Lunch to Clients</td>
                                    <td class="border-0 align-middle">
                                        <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                                    </td>
                                    <td class="border-0 align-middle">
                                        <a href="#!" data-mdb-toggle="tooltip" title="Done">
                                            <i class="fas fa-check fa-lg text-success me-3"></i>
                                        </a>
                                        <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                                            <i class="fas fa-trash-alt fa-lg text-warning"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>