@model ToDoDetailsViewModel
@{
}
@using DomainModule.Entity
<style>
    body {
        margin-top: 20px;
        background: #eee;
    }
    /* PROJECTS */

    .project-title a {
        font-size: 14px;
        color: #676a6c;
        font-weight: 600;
    }

    .project-list table tr td {
        border-top: none;
        border-bottom: 1px solid #e7eaec;
        padding: 15px 10px;
        vertical-align: middle;
    }

    .project-manager .tag-list li a {
        font-size: 10px;
        background-color: white;
        padding: 5px 12px;
        color: inherit;
        border-radius: 2px;
        border: 1px solid #e7eaec;
        margin-right: 5px;
        margin-top: 5px;
        display: block;
    }

    .project-files li a {
        font-size: 11px;
        color: #676a6c;
        margin-left: 10px;
        line-height: 22px;
    }

    /* PROFILE */
    .profile-content {
        border-top: none !important;
    }

    .profile-stats {
        margin-right: 10px;
    }



    .profile-info {
        margin-left: 120px;
    }

    .feed-activity-list .feed-element {
        border-bottom: 1px solid #e7eaec;
    }

    .feed-element:first-child {
        margin-top: 0;
    }

    .feed-element {
        padding-bottom: 15px;
    }

        .feed-element,
        .feed-element .media {
            margin-top: 15px;
        }

    .feed-element,
    .media-body {
        overflow: hidden;
    }

        .feed-element > .pull-left {
            margin-right: 10px;
        }





        .feed-element .actions {
            margin-top: 10px;
        }



    .ibox {
        clear: both;
        margin-bottom: 25px;
        margin-top: 0;
        padding: 0;
    }

        .ibox.collapsed .ibox-content {
            display: none;
        }

        .ibox.collapsed .fa.fa-chevron-up:before {
            content: "\f078";
        }

        .ibox.collapsed .fa.fa-chevron-down:before {
            content: "\f077";
        }

        .ibox:after,
        .ibox:before {
            display: table;
        }

    .ibox-title {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #ffffff;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 3px 0 0;
        color: inherit;
        margin-bottom: 0;
        padding: 14px 15px 7px;
        min-height: 48px;
    }

    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .ibox-footer {
        color: inherit;
        border-top: 1px solid #e7eaec;
        font-size: 90%;
        background: #ffffff;
        padding: 10px 15px;
    }

    ul.notes li,
    ul.tag-list li {
        list-style: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div id="main-content">
                            @await Html.PartialAsync("~/Areas/Todo/Views/Todo/_todoDetailsPartial.cshtml", Model)
                        </div>
                        @if (Model.Status == TodoEntity.StatusActive && Model.IsEligible)
                        {
                            <div class="commentDiv">
                                <div class="col-md-12 mt-2 ">
                                    <h4>Comment</h4>
                                    @Html.HiddenFor(a=>a.Id)
                                    @Html.TextArea("Comment","",new{@class="form-control form-control-user"})
                                </div>
                                <div class="row mt-4">
                                    <div class="form-group col-md-2">
                                        <button class="btn btn-info mark-as-complete form-control">Close Todo</button>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <button class="btn btn-info comment-on-todo form-control">Comment</button>
                                    </div>

                                    @if (Model.IsTodoCreator)
                                    {
                                        <div class="form-group col-md-3">
                                            <a asp-area="Todo" asp-controller="Todo" asp-action="ShareTodo" asp-route-todoId="@Model.Id" data-mdb-toggle="tooltip" class="btn btn-primary form-control" title="Share Todo">
                                                <i class="fas fa-share fa-lg text-success"></i> Share With Others
                                            </a>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button class="btn btn-danger form-control delete-todo" data-mdb-toggle="tooltip" title="Remove">
                                                <i class="fas fa-trash-alt fa-lg text-white"></i> Delete
                                            </button>
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/js/todo.js" asp-append-version="true"></script>

   }