<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>TodoApp</span></strong>. All Rights Reserved  @DateTime.Now.Year
    </div>
    <div class="credits">
             Designed by <a href="#">Roshan Gurung</a>
    </div>
</footer><!-- End Footer -->
