@{
    ViewData["Title"] = "Todo App";
  
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> @ViewData["Title"]</title>
    @await Html.PartialAsync("_StylesPartial")
    @await RenderSectionAsync("Styles", false)
</head>

<body>
    <div class="loading hidden">Loading&#8230;</div>
    @await Html.PartialAsync("_header")
    @await Html.PartialAsync("_menuBar")

    <main id="main" class="main">

    @RenderBody()
    </main>
      @await Html.PartialAsync("_footer")

      @await Component.InvokeAsync("NToastNotify")

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-area="Account" asp-controller="Account" asp-action="Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!--signalR notification-->
    <div class="modal fade" id="SignalRNotification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification alert !!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                       
                    </button>
                </div>
                <div class="modal-body signalRMessage"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    @await Html.PartialAsync("_ScriptsPartial")
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await RenderSectionAsync("Scripts", false)
</body>

</html>
