 <!-- Sidebar -->
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">To Do App</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    @if ((await AuthorizationService.AuthorizeAsync(User, "Role-View")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "User-View")).Succeeded)
    {

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Account Management
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>User & Role Management</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "User-View")).Succeeded)
                    {
                        <a class="collapse-item" asp-area="Account" asp-controller="User" asp-action="Index">User List</a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Role-View")).Succeeded)
                    {
                        <a class="collapse-item" asp-area="Account" asp-controller="Role" asp-action="Index">Role</a>
                    }
                </div>
            </div>
        </li>
    }


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Todo
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Todo Management</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a class="collapse-item" asp-area="Todo" asp-controller="Todo" asp-action="Index">Todos List</a>
                <a class="collapse-item" asp-area="Todo" asp-controller="Todo" asp-action="ActiveTodo">Active Todo</a>
                <a class="collapse-item" asp-area="Todo" asp-controller="Todo" asp-action="CompletedTodo">Completed Todo</a>

                <a class="collapse-item" asp-area="Todo" asp-controller="SharedTodo" asp-action="Index">Shared Todo </a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>



</ul>
<!-- End of Sidebar -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        @if ((await AuthorizationService.AuthorizeAsync(User, "Role-View")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "User-View")).Succeeded)
        {
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Account Management</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Role-View")).Succeeded)
                    {
                        <li>
                            <a asp-area="Account" asp-controller="Role" asp-action="Index">
                                <i class="bi bi-circle"></i><span>Role</span>
                            </a>
                        </li>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "User-View")).Succeeded)
                    {
                        <li>
                            <a asp-area="Account" asp-controller="User" asp-action="Index">
                                <i class="bi bi-circle"></i><span>User</span>
                            </a>
                        </li>
                    }
                  
                </ul>
            </li>

            <!-- End Components Nav -->
        }
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Todo Management</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="Todo" asp-controller="Todo" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Todo List</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Todo" asp-controller="Todo" asp-action="ActiveTodo">
                        <i class="bi bi-circle"></i><span>Active Todo</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Todo" asp-controller="Todo" asp-action="CompletedTodo">
                        <i class="bi bi-circle"></i><span>Completed Todo</span>
                    </a>
                </li>
                <li>
                    <a hasp-area="Todo" asp-controller="SharedTodo" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Shared Todo</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

        
    </ul>

</aside><!-- End Sidebar-->
