@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

    </div>

    <!-- Content Row -->
    <div class="row">
        @if (Model.IsSuperAdmin)
        {
            <!--Total user -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                 <a asp-area="Account" asp-controller="User" asp-action="Index">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total User
                                </div>
                                </a>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="total-users">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Total Todos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a asp-area="Todo" asp-controller="Todo" asp-action="Index">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Total Todos
                                </div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="total-todos">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Active Todos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a asp-area="Todo" asp-controller="Todo" asp-action="ActiveTodo">

                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Active todos
                                </div>
                            </a>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="active-todos">0</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Completed Todos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a asp-area="Todo" asp-controller="Todo" asp-action="CompletedTodo">

                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Completed Todos
                                </div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="completed-todos">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Shared Todos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a asp-area="Todo" asp-controller="SharedTodo" asp-action="Index">

                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Shared Todos
                                </div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="shared-todos">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--High Priority Todos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a asp-area="Todo" asp-controller="Todo" asp-action="ActiveTodo" asp-route-PriorityLevel="3">

                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    High Priority Todos
                                </div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="high-priority-todos">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Medium Priority Todos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a asp-area="Todo" asp-controller="Todo" asp-action="ActiveTodo" asp-route-PriorityLevel="2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Medium Priority Todos
                                </div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="medium-priority-todos">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--low priority Todos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a asp-area="Todo" asp-controller="Todo" asp-action="ActiveTodo" asp-route-PriorityLevel="1">

                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Low Priority Todos
                                </div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="low-priority-todos">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Monthly Overview</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Todo Chart</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>

@section Scripts
    {
    <script src="~/js/Dashboard.js" asp-append-version="true"></script>
}